[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
start = "python src/app.py"
